**
!package.json
!package-lock.json
!tsconfig.base.json
!packages/
!packages/contracts-http/
!packages/contracts-http/**
!services/
!services/api-gateway/
!services/api-gateway/**
!services/identity-service/
!services/identity-service/**
!services/academic-service/
!services/academic-service/**
!services/attendance-service/
!services/attendance-service/**
