{
  "API_BASE_URL": "https://backendapirest.149828.xyz",
  "API_TIMEOUT": 30000,
  "PRESENCIA_API_BASE_URL": "https://backendapirest.149828.xyz",
  "PRESENCIA_API_TIMEOUT": 12000,
  "UAT_ID_CICLO": 150,
  "UAT_ID_DES": 12,
  "UAT_ACADEMIC_YEAR": 2026,
  "UAT_ACADEMIC_TERM": 1
}
